@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
*{
    margin: 0px;
    font-family: "Kalam", cursive;
}

:root{
    --primary-color: #ffc83a;
}
.headContainer{
    font: bold;
    font-size: 24px;
    text-align: center;
    color: black;
    padding: 0.1rem 0 0 0; 
    border-bottom-left-radius: 1rem;
    background-image: url("images/minions.png");
    background-size: 1500px;

} 
.headContainer .header-img{
    width: 42%;
    height: auto;
}

.headContainer .headContent{
    margin-top: -25px;
}

.footContainer{
    font: bold;
    font-size: 17px;
    text-align: center;
    color: black;
    padding: 1.5rem 0rem 1.5rem 0rem; 
    background-image: url("images/minions.png");
    background-size: 1800px;
    /* position: fixed; */
    bottom: 50px;
}

.footContainer{
    width: 100%;
}

.footContainer .footContent{
    margin: 5px 11px 5px 11px;
}
.mainDiv{
    padding: 1rem;
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 1.6rem;
}

.textInput{
    display: block;
    font-family: inherit;
    width: 100%;
    /* height: 10vh; */
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    padding: 1rem 0 1rem 0;
    
}

#trnsltButton{
    background-color: var(--primary-color);
    margin: 2rem 0rem 0.5rem 0;
    border: 1px solid black;
    font-size: large;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.resultDiv{
    padding: 0.8rem;
    max-width: 500px;
    margin:auto;
    text-align: center;
}

.resultBox{
    width: 100%;
    border: 1px solid black;
    height: 10vh;
    padding: 0;
    display: block;
    align-items: center;
}

.footSigner{

    text-align: center;
    padding-top: 0.7rem;
    margin-bottom: 0rem;
    font-weight: bold;
    text-decoration: none;
    bottom: 0;
}
